<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
    <meta charset="UTF-8">
    <title>任务列表</title>
    <link rel="stylesheet" th:href="@{/static/js/plugins/bootstrap-table/bootstrap-table.css}" type="text/css"/>
    <link th:href="@{/static/js/plugins/bootstrap-table/extensions/page-jumpto/bootstrap-table-jumpto.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/static/js/plugins/fileinput/css/fileinput.css}">
    <style>
        /*.modal-backdrop{z-index:999;}*/
        .modal{
            padding-top: 87px;
        }
    </style>
    <script>
        function downloadTaskFile(taskNo) {
            window.location.href=ctxPath+'task/downloadTaskFile/'+taskNo;
        }
        function giveupTask(taskId) {
            $.post(ctxPath+'task/giveupTask',{taskId:taskId}).done(function (data) {
                console.log(data);
                if(data.success){
                    layer.alert('放弃任务成功',{icon:1},function () {
                        window.location.href=ctxPath+data.msg;
                    })
                }else{
                    layer.alert('放弃任务失败',{icon:2},function () {
                        window.location.href=ctxPath+data.msg;
                    })
                }
            });
        }
    </script>
</head>
<body>
<th:block layout:fragment = "content">
    <div class="row">
        <table class="table table-hover">
            <thead>
            <tr class="bg-info text-white">
                <th>任务号</th>
                <th>任务类型</th>
                <th>翻译文件个数</th>
                <th>参考文件个数</th>
                <th>文件名</th>
                <th>领取时间</th>
                <th>到期时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task:${tasks}">
                <th scope="row" th:text="${task.taskNo}"></th>
                <td th:text="${task.taskTypeDescribe}"></td>
                <td th:text="${task.transFileCount}"></td>
                <td th:text="${task.referenceFileCount}"></td>
                <td th:text="${task.filenames}"></td>
                <td th:text="${task.beginTime}"></td>
                <td th:text="${task.expirationDate}"></td>
                <td>
                    <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-outline-primary" th:onclick="downloadTaskFile('[[${task.taskId}]]')"><i class="fa fa-download"></i>下载</button>
                    <button type="button" class="btn btn-outline-info" th:onclick="showModal('[[${task.userTaskId}]]')"><i class="fa fa-upload"></i>上传</button>
                    <button type="button" class="btn btn-outline-danger" th:onclick="giveupTask('[[${task.userTaskId}]]')"><i class="fa fa-trash"></i>放弃</button>
                </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- 模态框（Modal） -->
    <div class="modal fade"  role="dialog" aria-labelledby="myLargeModalLabel" id="uploadModal" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="uploadModalLabel">上传结果文件</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                </div>

                    <div class="modal-body card form">

                        <div class="form-group">
                            <input id="resulttaskFile" name="resulttaskFile" type="file" multiple class="file">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" id="closeBtn" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary btn-upload" id="sava-edit-btn">上传</button><i class="fa fa-spinner" id="spinner" style="display: none"></i>
                    </div>

            </div>
        </div>
    </div>
    <!-- /.modal -->
</th:block>
<th:block layout:fragment = "bodyAssets">
    <script th:src="@{/static/js/task/unfinishedusertask.js}" type="text/javascript"></script>
    <script th:src="@{/static/js/plugins/bootstrap-table/bootstrap-table.js}"></script>
    <script th:src="@{/static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.js}"></script>
    <script th:src="@{/static/js/plugins/bootstrap-table/extensions/page-jumpto/bootstrap-table-jumpto.min.js}"></script>
    <script th:src="@{/static/js/plugins/fileinput/js/fileinput.min.js}"></script>
    <script th:src="@{/static/js/plugins/fileinput/js/locales/zh.js}" type="text/javascript"></script>
    <script th:src="@{/static/js/plugins/fileinput/themes/fa/theme.js}" type="text/javascript"></script>

</th:block>
</body>
</html>